<div class="container-fluid">

	<div class="mt-3 mb-3">
	  <ngb-tabset #langTabs="ngbTabset"
	              *ngIf="languages"
	              (tabChange)="onChangeLang($event)"
	              [activeId]="selectedLang">
	    <ngb-tab *ngFor="let lang of languages" [id]="lang.code">
	      <ng-template ngbTabTitle>{{ lang.label }}</ng-template>
	      <ng-template ngbTabContent></ng-template>
	    </ngb-tab>
	  </ngb-tabset>
	</div>

	<!-- <form class="formly" role="form" novalidate [formGroup]="form" (ngSubmit)="submit(model)"> -->
		<formly-form [model]="model" [fields]="fields" [form]=form>
		</formly-form>
	<!-- </form> -->
	<button class="btn btn-sm btn-secondary" (click)="submit(model, form, eventFields)">Submit</button>

<!-- <br>
	<ng-selector name="selector" [(ngModel)]="selected" [options]="values"></ng-selector>
<br>
	<ng-selector name="selector" [(ngModel)]="selected" (loadValues)="fetchServer($event)"
      id-field="url"
      label-field="name"></ng-selector>

<hr>
<br>
<br>
<ng-selectize [config]="config"></ng-selectize> -->
</div>
